{{#each this}}
<li class='list-group-item country-item animate__animated animate__fadeInUp'>
    <img src='{{#with flags}}{{svg}}{{/with}}' alt='{{name.official}}' class='rounded' />
    <p class='list__descr'>
        {{name.official}}
    </p>
</li>
{{/each}}